<div class="container">
	<div fxLayout="row" fxLayoutAlign="start center" class="content" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex = "100%" id="apropos">
        <h1>Qui sommes nous ?</h1>
        <p>Notre site est un réseau social basé sur le sport. Il vous permettra d'organiser des tournois, compétitions et entrainements avec vos amis et notre communauté.</p><p>Vous pourrez suivre vos performances physiques et les comparer aux autres, et vous pourrez regarder les résultats des différents évènements organisés. OhSaySport vous permettra de vivre votre passion à fond !</p>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
            <a mat-button routerLink="/account/login" class="blocks">Se connecter</a>
            <a mat-button routerLink="/account/register" class="blocks">Créer un compte</a>
        </div>
    </div>
    <div class="blocks" fxFlex = "50%">
				<div
					ng2-carouselamos
					class="slides-wrapper"
					[items]="items"
					[width]="900"
					[$prev]="prev"
					[$next]="next"
					[$item]="item"
				>
				</div>


				<ng-template #prev>
					<img src="assets/images/left.png" id="left" />
				</ng-template>
				<ng-template #next>
					<img src="assets/images/right.png" id="right" />
				</ng-template>
				<ng-template #item let-item let-i="index">

					<div class="items">
						<img src="{{item.name}}">
					</div>

				</ng-template>
	</div>
</div>
