.blocks {
    text-align: center;
}

button[mat-raised-button] {
    margin: 24px 0px;
    width: 300px;
}
.mat-card{
    opacity : 0.8;
    width: 600px;
    height: 700px;
}
h1 {
  padding: 20px;
  margin: 0;
  color: white;
  font-family: 'Montserrat';
  letter-spacing: 2px;
  word-wrap: break-word;
}

p{
  text-align: justify;
  padding: 20px;
  margin: 0;
  color: white;
  font-family: 'Montserrat';
  font-size: 110%;
  letter-spacing: 0.1em;
}

a {
  background-color: #b3d9ff;
  margin-top: 50px;
  margin-bottom: 200px;
}

#apropos h1,#apropos h2,#apropos div,#apropos p{
    color:black!important;
}
.items img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

#left, #right {
    margin: 30px;
}

.text {
  position: absolute;
  color: white;
  top: 400px;
  height: auto;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  padding-top: 15px;
  
  
}
.text h2
{
    word-wrap: break-word;
}
.container
{
    text-align: center;
}
.contentResp{
    margin :auto!important;
}