<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-text">
    
    <div class="text-container-big">
    <h3 class="fade-text"> Contact </h3>
    <h1> Rester en contact avec la communauté est une priorité pour nous !  </h1>
    </div>
</div>

<div class="container-left">
<iframe id="map" width="500" height="500" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ41IlpQRw5kcRPJ0jDKyx1kc&key=AIzaSyAD4Vhhbyl9tpwQ_Xp_Ode5ePX3_pUHzHI" allowfullscreen></iframe>
</div>
<div class="container-right">
    
    <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bell-o"></i> Informations </div>
            <div class="list-group list-group-flush small">
              <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <i class="material-icons">place</i>
                  <div class="media-body">
                    <strong>37 Quai de grenelle, 75015 Paris</strong>.
                    <div class="text-muted smaller">ECE Paris</div>
                  </div>
                </div>
              </a><a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <i class="material-icons">phone</i>
                  <div class="media-body">
                    <strong>01 44 39 06 00</strong>.
                    <div class="text-muted smaller">ECE Paris</div>
                  </div>
                </div>
              </a>
                <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <i class="material-icons">mail_outline</i>
                  <div class="media-body">
                    <strong>julien.courreges@edu.ece.fr</strong>.
                    <div class="text-muted smaller">Julien Courrèges</div>
                  </div>
                </div>
              </a>
                <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <i class="material-icons">mail_outline</i>
                  <div class="media-body">
                    <strong>thomas.berdy@edu.ece.fr</strong>.
                    <div class="text-muted smaller">ThomasBerdy</div>
                  </div>
                </div>
              </a>
                <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <i class="material-icons">mail_outline</i>
                  <div class="media-body">
                      <strong>alain.berrier@edu.ece.fr</strong>.
                    <div class="text-muted smaller">Alain Berrier</div>
                  </div>
                </div>
              </a>
                <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <i class="material-icons">mail_outline</i>
                  <div class="media-body">
                    <strong>theophile.grimault@edu.ece.fr</strong>.
                    <div class="text-muted smaller">Théophile GRIMAULT</div>
                  </div>
                </div>
              </a>
              <div class="message">
                <a class="list-group-item list-group-item-action" href="mailto:julien.courreges@edu.ece.fr"><i class="material-icons">message</i>  
                Envoyer un message au support</a>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>