<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-text">

    <div class="text-container-big">
        <h3 class="fade-text">Mentions légales et Informations </h3>
        <h1> CGI  </h1>
    </div>
</div>

<mat-card class="main-container">
    <h1>Mentions légales</h1>
    <p>Vous êtes en train de visiter le Site Internet de OhSaySport!. Les mentions légales qui suivent s’appliquent à tout internaute visitant ce site.</p>
    <p>L’ensemble du contenu de ce Site (textes, éléments graphiques, logiciels, etc.) est la propriété exclusive de OHSAYSPORT ou de ses prestataires techniques ou fait l’objet d’une autorisation d’utilisation et est protégé au titre de la législation applicable en matière de droit d’auteur.</p>
    <h1>Informations</h1>
    <p>Le projet a été réalisé par Alain BERRIER, Thomas BERDY, Julien COURREGES et Théophile GRIMAULT dans le cadre d'un projet scolaire à l'ECE Paris</p>
    <p>Intitulé du sujet <strong>Projet WEB : le cercle sportif OCRES</strong></p>
    <p>Les options obligatoires réalisées sont : <strong>C et F</strong></p>
    <p>Les options facultatives réalisées sont : <strong>G et E</strong> (utilisation d'Angular 5)</p>
    <h1>Bonus</h1>
    <p>Utilisation d'un suivi de version : <a href="https://github.com/Tberdy/deepwater">https://github.com/Tberdy/deepwater/</a></p>
    <p>Mise en ligne du site web : <a href="https://ohsaysport.fr">https://ohsaysport.fr/</a></p>
    <h1>Installation du projet</h1>
    <p>Pour installer le projet, suivre les instructions : </p><a href="https://github.com/Tberdy/deepwater/blob/master/README.md">https://github.com/Tberdy/deepwater/blob/master/README.md</a>
</mat-card>

