
.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 1200px !important;
}

.container-text{
    background-color : #3f51b5;
    margin-top: 50px;
    padding-top : 75px;
    padding-bottom : 75px;
}

.text-container-big{
    font-size: 200%;
    color : white;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

i{
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 25px;
    
}

.fade-text{
    opacity:0.5;
}



* { padding: 0; margin: 0; }

p
{
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  color: #ff6;
  text-shadow: -2px -2px 0 #4d4d4d, 2px -2px 0 #4d4d4d, -2px 2px 0 #4d4d4d, 2px 2px 0 #4d4d4d;
  font-weight: 700;
  background-color: #000;
  overflow: hidden;
  padding-right :10%;
  padding-left:10%;
}



h1
{
    position: absolute;
    width: 2.6em;
    left: 50%;
    top: 25%;
    font-size: 10em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    opacity: 0;
    z-index: 1;
    -webkit-animation: logo 5s ease-out 2.5s;
    -moz-animation: logo 5s ease-out 2.5s;
    -ms-animation: logo 5s ease-out 2.5s;
    -o-animation: logo 5s ease-out 2.5s;
    animation: logo 5s ease-out 2.5s;
}





.main-container
{
    margin: 100px 16px 16px 16px;
}