<header>
    <nav>
        <a mat-button routerLink="">{{title}}</a>

        <div *ngIf="authService.getUser().logged; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <a mat-button routerLink="/chat">Chat</a>
            <a class="right" mat-button routerLink="/my-account">{{authService.getUser().email}}</a>
        </ng-template>
        <ng-template #elseBlock>
            <a class="right" mat-button routerLink="/login">Login / Register</a>
        </ng-template>
    </nav>
</header>

