<footer>
    <p>
        Projet élaboré par <a href="https://github.com/Aberrier" class="Footer-link" target="_blank">Alain BERRIER</a>, <a href="https://github.com/Tberdy" class="Footer-link" target="_blank">Thomas BERDY</a>, <a href="https://www.linkedin.com/in/th%C3%A9ophile-grimault-22bb8410b/" class="Footer-link" target="_blank">Théophile GRIMAULT</a> et <a href="#" class="Footer-link">Julien COURREGES</a>.
    </p>
    <p>
         Options C et F et bonus : <a href="https://github.com/Tberdy/deepwater">Depot git</a> et <a href="https://ohsaysport.fr/">Site web en ligne </a>
    </p>
</footer>
