footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    padding : 16px;
    background-color: #EEEEEE;
}

footer p {
    text-align: center;
    padding-top: 10px;
    opacity: 0.8;
    color: #888888;
    margin-bottom: 8px;
}
