<div class="ranking-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="ranking-container" fxLayout="column" fxLayoutAlign="center center" style="width:100%;" *ngIf="!error;else error_temp">
        
         <div class="container-text">
    
            <div class="text-container-big">
            <h3 class="fade-text"> Classement générale </h3>
            <h1> Compare ton score avec tes amis, évolution rhyme avec compétition !  </h1>
            </div>

        </div>
         
        <div class="table-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="table-container mat-elevation-z8">
            <mat-table [dataSource]="dataScores" matSort>

                <ng-container matColumnDef="member">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Joueur </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.member.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="score">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Score </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.score}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="order">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Classement </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.index}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedScoreColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedScoreColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
    <ng-template #error_temp><div *ngIf="error">{{error}}</div></ng-template>
</div>
