<h1 mat-dialog-title>Ajouter un nouveau match</h1>

<form fxLayout="column" fxLayoutAlign="center center" #form="ngForm" (ngSubmit)="submit()">
    <mat-dialog-content fxLayout="column" fxLayoutAlign="center center">

        <mat-form-field>
            <input required matInput name="description" placeholder="Description" ngModel #description="ngModel" [(ngModel)]="workout.description">
        </mat-form-field>

        <mat-form-field>
            <input required matInput name="date" placeholder="Choisir une date de début" ngModel #date="ngModel" [matDatepicker]="picker_date" [(ngModel)]="workout.date">
                   <mat-datepicker-toggle matSuffix [for]="picker_date"></mat-datepicker-toggle>
            <mat-datepicker #picker_date></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input required matInput name="end_date" placeholder="Choisir une date de fin" ngModel #end_date="ngModel" [matDatepicker]="picker_end_date" [(ngModel)]="workout.end_date">
                   <mat-datepicker-toggle matSuffix [for]="picker_end_date"></mat-datepicker-toggle>
            <mat-datepicker #picker_end_date></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input required matInput name="location_name" placeholder="Location" ngModel #location_name="ngModel" [(ngModel)]="workout.location_name">
        </mat-form-field>
        
        <mat-form-field>
            <input required matInput name="sport_name" placeholder="Sport" ngModel #sport_name="ngModel" [(ngModel)]="workout.sport">
        </mat-form-field>
        
        <mat-form-field>
            <mat-select [(value)]="workout.opponent" placeholder="Adversaire" name="opponent">
                <mat-option *ngFor="let member of members" [value]="member" >{{member.email}}</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button [disabled]="!form.valid">Add</button>
        <button mat-button type="button" (click)="close()">Cancel</button>
    </mat-dialog-actions>
    <div *ngIf="error">{{error}}</div>
</form>




